body {
  background-color: #fff; }

.jumbotron {
  background-color: #49B8F4;
  color: #fff;
  margin-top: 50px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #49B8F4;
  margin-top: 0px;
  margin-bottom: 10px; }

.btn {
  background-color: #49B8F4;
  color: #fff;
  width: 100%;
  border-radius: 0px; }

.col-sm-4 {
  /*color: white; */ }

.btn:hover {
  background-color: transparent;
  color: black; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #070707; }

.redes a {
  color: #fff; }

.card-hotel button {
  width: 100%; }

.contenedor {
  width: 25%;
  max-width: 35%;
  margin: auto;
  perspective: 800px;
  position: relative;
  margin-top: 50px;
  z-index: -1000;
  position: absolute; }

.contenedor-carusen {
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d; }

.contenedor-carusen figure {
  width: 100%;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px #070707;
  transition: all 300ms; }

.contenedor-carusen figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(210px); }

.contenedor-carusen figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(210px); }

.contenedor-carusen img {
  width: 100%; }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

.contenido {
  text-align: center; }

.footer-address-icon {
  padding-right: 10px; }

.container-fluid {
  position: relative;
  display: inline-block;
  text-align: center; }

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #070707;
  -webkit-text-stroke: 0.5px #fff;
  font-size: 400%;
  transform: translate(-50%, -50%); }

.contenedor2 {
  width: 300px;
  height: 50%;
  margin: auto;
  perspective: 800px;
  margin-top: 50px;
  z-index: -1000; }

.contenedor-carusen2 {
  width: 50%;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d; }

.contenedor-carusen2 figure {
  width: 100%;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px #070707;
  transition: all 300ms; }

.contenedor-carusen2 figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(210px); }

.contenedor-carusen2 figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(210px); }

.contenedor-carusen2 img {
  width: 100%; }
